.container[b-v5jd20hpmv] {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .container input[b-v5jd20hpmv] {
        background-color: #f2f2f2;
        color: #000000;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        flex: 1;
        padding: 1rem;
        font-family: "Nunito", sans-serif;
        font-size: 1.4rem;
        min-width: 680px;
    }

    .container button[b-v5jd20hpmv] {
        background-color: #8625D2;
        margin: 1rem;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        padding: 1rem;
        border-radius: 8px;
    }

textarea:disabled[b-v5jd20hpmv], button:disabled[b-v5jd20hpmv] {
    cursor: default;
    opacity: 0.2;
}
