@using DotnetGenerativeAI.Models
@using DotnetGenerativeAI.Data
@using Microsoft.EntityFrameworkCore
@inject AppDbContext Context

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DotnetGenerativeAI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Chat
                @foreach (var chat in _chats)
                {
                    <NavLink class="nav-link" href="@($"chat/{chat.Id}")">
                        @(chat.Title.Length <= 23 ? chat.Title : (chat.Title[..23] + "..."))
                    </NavLink>
                }
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private List<ChatModel> _chats = [];

    protected override async Task OnInitializedAsync()
    {
        _chats = await Context
            .Chats
            .AsNoTracking()
            .OrderByDescending(x => x.UpdatedAt)
            .Take(5)
            .ToListAsync();
    }
}